<section>
    <div class="custom-container">
        <div class="">
            <h1 class="text-[30px] font-bold ">Work</h1>
        </div>
       
        <div *ngFor="let items of workList; let i = index" class="section-body">
            <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
                <div class="project__img">
                    <a href="/work-detail/{{items.id}}"><img src={{items.img}} alt=""
                            class="project__thumb"></a>
                </div>
                <div class="project__content">
                    <a href="/work-detail/{{items.id}}">
                        <h3 class="project__name">{{items.workname}}</h3>
                    </a>
                    <div class="project__meta">
                        <span class="project__create">{{items.year}}</span>
                        <a href="" class="project_category">{{items.status}}</a>
                    </div>
                    <p class="recent-post__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia
                        consequat duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
       
    </div>

</section>
