<footer class="max-w-4xl mx-auto mt-[100px]">
    <div class="text-center py-10">
        <div class="footer--thumb">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/281193447_3221827994741401_7960501716161214034_n.png?stp=cp0_dst-png&_nc_cat=101&ccb=1-7&_nc_sid=aee45a&_nc_ohc=65pF5pqD7nYAX9dYAOX&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLzY6V4tB0QAaV11Fntm2-daE9f-lB4cCJQbCRA1F5XLQ&oe=62C7D830"
                alt="" class="w-[30px] h-[30px] mx-[20px]">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/283691412_347094317505714_8570075379509392377_n.png?stp=cp0_dst-png&_nc_cat=106&ccb=1-7&_nc_sid=aee45a&_nc_ohc=I_A0G2ypVhEAX_PP0dp&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVL6wV49X4FgEqeULehymvmloDaVkq1P1dOdkJIkuXtQwg&oe=62C8F4D5"
                alt="" class="w-[30px] h-[30px] mx-[20px]">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/284231284_551926786481931_6115803390238303480_n.png?stp=cp0_dst-png&_nc_cat=105&ccb=1-7&_nc_sid=aee45a&_nc_ohc=z_IJtMPOU0kAX8_mNkI&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVILfAi0-N1EheBX5NSlNzVc57P2aTGnodd76cmy7h2K2w&oe=62C605C7"
                alt="" class="w-[30px] h-[30px] mx-[20px]">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/281348609_983645412277445_1032200249434496909_n.png?stp=cp0_dst-png&_nc_cat=110&ccb=1-7&_nc_sid=aee45a&_nc_ohc=VC65ML-Yy30AX9zRkGr&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIB6gTZWGx8vQh9SwJQSXI10185wPro8-x1yp9ChBXPhA&oe=62C7A09E"
                alt="" class="w-[30px] h-[30px] mx-[20px]">
        </div>
        <p class="mt-[20px]">Copyright ©2020 All rights reserved</p>
    </div>
</footer>