<section class="project">
    <div class="custom-container">
        <div class="section-header">
            <h2 class="section-header__title">
                Featured works
            </h2>
        </div>
        <div *ngFor="let work of workList" class="section-body">
            <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
                <div class="project__img">
                    <a href="/work-detail/{{work.id}}"><img src="{{work.img}}" alt="" width="200" height="200"
                            class="project__thumb"></a>
                </div>
                <div class="project__content">
                    <a href="/work-detail/{{work.id}}">
                        <h3 class="project__name">{{work.workname}}</h3>
                    </a>
                    <div class="project__meta">
                        <span class="project__create">{{work.year}}</span>
                        <a href="" class="project_category">{{work.status}}</a>
                    </div>
                    <p class="project__desc">{{work.desc}}</p>
                </div>
            </div>
        </div>
       
    </div>
</section>