

  <section class="recent-post">
    <div class="custom-container">
        <div class="section-header">
            <h2 class="section-header__title">Recent posts</h2>

            <a href="">View all</a>
        </div>
        <div class="section-body">
            <div class="grid justify-evenly md:grid-cols-2 gap-8">

               
                <div *ngFor="let post of PostServiceList" class="recent-post__item">
                    <h1 class="recent-post__title">{{post.title}}</h1>
                    <div class="recent-post__meta">
                        <span class="text-[18] font-[500]">{{post.date}}</span>
                        <span>|</span>
                        <a href="" class="text-[18] font-[500]">Figma, Icon Design</a>
                    </div>
                    <p class="recent-post__desc">{{post.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>