
<section class="recent-post">
    <div class="custom-container">
        <div class="">
            <h1 class="text-[30px] font-bold ">Blog</h1>
        </div>

        <div *ngFor="let post of PostServiceList" class="recent-post__item">
            <h1 class="recent-post__title">{{post.title}}</h1>
            <div class="recent-post__meta">
                <span class="text-[18] font-[500]">{{post.date}}</span>
                <span>|</span>
                <a href="" class="text-[18] font-[500]">Figma, Icon Design</a>
            </div>
            <p class="recent-post__desc">{{post.description}}</p>
        </div>
        
    </div>
</section>