<section class="banner">
    <div class="custom-container">
        <div class="grid md:grid-cols-3 gap-8">
            <div class="banner-content">
                <h2 class="banner-contenet__title">
                    Hi, I am John,
                </h2>
                <h2 class="banner-contenet__title">
                    Creative Technologist
                </h2>
                <p class="banner-content__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <a href="" class="btn btn-danger banner-content__button">Download Resume</a>
            </div>
            <div class="banner-picsum">
                <img src="https://picsum.photos/243/243" alt="" class="banner-picsum__thumb">
            </div>
        </div>
    </div>
</section>
