<section class="banner">
    <div class="custom-container">
        <div class="grid md:grid-cols-3 gap-8">
            <div class="banner-content">
                <h2 class="banner-contenet__title">
                    Hi, I am Van Thanh,
                </h2>
                <h2 class="banner-contenet__title">
                    FrontEnd Developer
                </h2>
                <p class="banner-content__desc">
                    I am a sociable person, very interested in programming, currently I am studying at FPT Polytecnic School, my major is website design. For more details about me, download my CV</p>
                <a href="../../../assets/image/Nguyen-Thi-Van.pdf" download="DowloadCv" class="btn btn-danger banner-content__button">Download CV</a>
            </div>
            <div class="banner-picsum">
                <img src="../../../assets/image/vanthanh.jpeg" alt="" class="banner-picsum__thumb">
            </div>
        </div>
    </div>
</section>
